<div class="navbar bg-secondary text-black">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl" href="/">WeebInventory</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><a href="/AddItem">Add Item</a></li>
      <li>
        <details>
          <summary>DropDown?</summary>
          <ul class="bg-primary rounded-t-none p-2">
            <li><a href="/">Home</a></li>
            <li><a>Link 2</a></li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
</div>
