<div class="grid content-center ml-[25%] mr-[25%]">
  <h1 class="text-4xl m-4">Update Meta data</h1>

  <div class="gap-2 w-full">
    <input
      type="text"
      [(ngModel)]="item.barcodeScan"
      enterWatcher
      placeholder="Barcode Number"
      class="input bg-slate-400 w-full m-2"
    />

    <input
      type="text"
      [(ngModel)]="item.category"
      placeholder="Category"
      class="input bg-slate-400 w-full m-2"
    />
    <input
      type="text"
      [(ngModel)]="item.subCategory"
      placeholder="Sub Category"
      class="input bg-slate-400 w-full m-2"
    />
    <input
      type="text"
      [(ngModel)]="item.title"
      placeholder="Title"
      class="input bg-slate-400 w-full m-2"
    />
    <input
      type="text"
      [(ngModel)]="item.description"
      placeholder="Description"
      class="input bg-slate-400 w-full m-2"
    />
    <input
      type="text"
      placeholder="Quantity"
      [(ngModel)]="item.quantity"
      class="input bg-slate-400 w-full m-2"
    />
    <input
      type="text"
      placeholder="WhatNotType"
      [(ngModel)]="item.whatNotType"
      class="input bg-slate-400 w-full m-2"
    />
    <input
      type="text"
      [(ngModel)]="item.price"
      placeholder="Price"
      class="input bg-slate-400 w-full m-2"
    />
    <input
      type="text"
      placeholder="Shipping Profile"
      [(ngModel)]="item.shippingProfile"
      class="input bg-slate-400 w-full m-2"
    />
    <input
      type="text"
      placeholder="Gradable"
      [(ngModel)]="item.gradable"
      class="input bg-slate-400 w-full m-2"
    />
    <input
      type="text"
      placeholder="Offerable"
      [(ngModel)]="item.offerable"
      class="input bg-slate-400 w-full m-2"
    />
    <input
      type="text"
      placeholder="Hazmat"
      [(ngModel)]="item.hazmat"
      class="input bg-slate-400 w-full m-2"
    />
    <input
      type="text"
      placeholder="Image URL 1"
      [(ngModel)]="item.imageURL1"
      class="input bg-slate-400 w-full m-2"
    />
    <input
      type="text"
      placeholder="Image URL 1"
      [(ngModel)]="item.imageURL2"
      class="input bg-slate-400 w-full m-2"
    />
    <input
      type="text"
      placeholder="Image URL 1"
      [(ngModel)]="item.imageURL3"
      class="input bg-slate-400 w-full m-2"
    />
    <input
      type="text"
      [(ngModel)]="item.imageURL4"
      placeholder="Image URL 1"
      class="input bg-slate-400 w-full m-2"
    />
    <input
      type="text"
      [(ngModel)]="item.imageURL5"
      placeholder="Image URL 1"
      class="input bg-slate-400 w-full m-2"
    />
    <input
      type="text"
      [(ngModel)]="item.imageURL6"
      placeholder="Image URL 1"
      class="input bg-slate-400 w-full m-2"
    />
    <input
      type="text"
      [(ngModel)]="item.imageURL7"
      placeholder="Image URL 1"
      class="input bg-slate-400 w-full m-2"
    />
    <input
      type="text"
      placeholder="Image URL 1"
      [(ngModel)]="item.imageURL8"
      class="input bg-slate-400 w-full m-2"
    />
  </div>
</div>
