<div class="grid content-center ml-[25%] mr-[25%] custom-margin">
  <h1 class="text-4xl m-4">WeebTrash Inventory Manager</h1>
  <input
    type="text"
    [(ngModel)]="item.barcodeScan"
    enterWatcher
    placeholder="Scan Me"
    class="input bg-slate-800 custom-margin"
  />
  <input
    type="text"
    class="input bg-slate-800 custom-margin"
    placeholder="Search by name..."
    matInput
    [formControl]="myControl"
    [matAutocomplete]="auto"
  />
  <mat-autocomplete #auto="matAutocomplete">
    @for (option of filteredOptions | async; track option.name) {
    <mat-option [value]="option.name">{{ option.name }}</mat-option>
    }
  </mat-autocomplete>

  <button type="submit" (click)="addInventoryItem()" class="btn custom-margin">
    Add Item
  </button>

  <hr class="custom-margin" />
  <h1 class="text-2xl custom-margin">Current Items:</h1>
  <div>
    <ng-container *ngFor="let i of currentItems" class="custom-margin">
      {{ i.title }} - Quantity: {{ i.quantity }}
      <br />
    </ng-container>
  </div>

  <button (click)="createCSV()" class="btn custom-margin">
    Create Whatnot CSV
  </button>
  <button (click)="getCurrentList()" class="btn custom-margin">
    Get Current WhatNotList
  </button>
  <br />
  <ng-container *ngFor="let i of items">
    {{ i.barcodeScan }} - {{ i.title }} - {{ i.description }} <br />
  </ng-container>

  <p class="text-2xl">Total:{{ total }}</p>

  <ng-container *ngIf="failResponse == true">
    <div class="toast">
      <div class="alert alert-error">
        <span>No item found, failed to add!</span>
      </div>
    </div>
  </ng-container>
</div>
