<div class="grid content-center ml-[25%] mr-[25%]">
    <h1 class="text-4xl m-4">WeebTrash Inventory Manager</h1>
    <input type="text" [(ngModel)]="item.barcodeScan" enterWatcher placeholder="Scan Me"  class="input"/> 
    <input type="text"
    class="input"
    placeholder="Pick one"
    matInput
    [formControl]="myControl"
    [matAutocomplete]="auto"
    >
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        @for (option of filteredOptions | async; track option.name) {
          <mat-option [value]="option.name">{{option.name}}</mat-option>
        }
      </mat-autocomplete>



<button type="submit" (click)="addInventoryItem(item)" class="btn">Add Item</button>
    
    
    <hr>
    <h1 class="text-2xl">Current Items:</h1>
    <div>
        <ng-container *ngFor="let i of currentItems">
            {{i.barcodeScan}}-{{i.title}} - Quantity: {{i.quantity}}
            <br>
        </ng-container>
    </div>
    
    
    <button (click)="createCSV()" class="btn">Create Whatnot CSV</button>
    <button (click)="getCurrentList()" class="btn">Get Current WhatNotList</button>
    <br />
    <ng-container *ngFor="let i of items">
        {{i.barcodeScan}} - {{i.title}} - {{i.description}} <br/>
    </ng-container>
    
    <p class="text-2xl">Total:{{total}}</p>
</div>